<div class="wrapper">
  <form class="form" [formGroup]="form" (submit)=" $event.preventDefault()" (keydown.enter)="$event.preventDefault()">
    <h4>Roxy List</h4>
    <mat-form-field class="full-width">

      <input matInput
             formControlName="title"
             placeholder="What's need to be done?" name="title">
    </mat-form-field>

    <button mat-button (click) = "addTodo()">Note</button>
  </form>

  <div class="form form_btns">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="btns">
      <mat-button-toggle value="bold" class="btns__item" (click)="sortAll()">All</mat-button-toggle>
      <mat-button-toggle value="bold" class="btns__item" (click)="sortDone()">Done</mat-button-toggle>
      <mat-button-toggle value="italic" class="btns__item" (click)="sortInProgress()">In progress</mat-button-toggle>
<!--      <mat-button-toggle value="underline" class="btns__item">by author</mat-button-toggle> -->
    </mat-button-toggle-group>
  </div>

  <div class="search">
    <mat-form-field appearance="legacy">
      <mat-label>search</mat-label>
      <input matInput placeholder="type to search" [(ngModel)]="searchInput">
    </mat-form-field>
  </div>

  <!--*ngIf="todos.length; else noTodos"-->
  <div class="form">
    <mat-selection-list cdkDropList (cdkDropListDropped)="drop($event)">
      <div *ngFor="let todo of todos | filter : searchInput : 'title'" cdkDrag #todos class="form__row">
        <mat-list-item (click)="mark(todo)" [class.complete]="todo?.isDone">
          {{todo.title}}
        </mat-list-item>
        <button mat-icon-button color="primary" aria-label="delete icon">
          <mat-icon (click)="delete(todo)">delete</mat-icon>
        </button>
      </div>
    </mat-selection-list>
    <!--  <p>-->
    <!--    Already done: {{todos.selectedOptions.selected.length}}-->
    <!--  </p>-->
  </div>

  <ng-template #noTodos>
    <p>No notes ...</p>
  </ng-template>
</div>

